
.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #171717;
  }

  

  .score  {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .question-container {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
 
  
  .question-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
 .options {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f6f6f6;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #e0e0e0;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #2a9d8f;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
  }
  .timer {
    font-size: 16px;
    margin-top: 10px;
  }
  .completion-container {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .completion-container p {
    margin-bottom: 10px;
  }
          

  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #96fee9 0%, #3683ff 100%);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; 
    font-family: 'Nunito';
    margin: 0 auto;
  }
  
  .button1:hover {
    background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
    color: rgb(91, 226, 235);
  }

  #heading {
    text-align: center;
    margin: 1.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    color: rgb(71, 212, 240);
    font-size: 3em;
    font-family: 'Pangolin', cursive;
    font-weight: bolder;
  }


  #heading2 {
    text-align: center;
    margin: 1em;
    margin-bottom: 0em;
    color: rgb(71, 181, 240);
    font-size: 1.5em;
    font-family: 'Nunito';
  }


  .options {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
  }
  
  .options.selected {
    color: #fff;
  }
  
  .options::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: .5s ease;
  }
  
  .options:hover {
    color: #1e1e2b;
    transition-delay: .5s;
  }
  
  .options:hover::before {
    width: 100%;
  }
  
  .options::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: .4s ease;
    z-index: -1;
  }
  
  .options:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }
  .loader {
    display: block;
    width: 300px;
    height: auto;
  }
  
  .loader_body,
    .loader_front,
    .loader_handlebars,
    .loader_pedals,
    .loader_pedals-spin,
    .loader_seat,
    .loader_spokes,
    .loader_spokes-spin,
    .loader_tire {
    animation: bikeBody 3s ease-in-out infinite;
    stroke: var(--primary);
    transition: stroke var(--trans-dur);
  }
  
  .loader_front {
    animation-name: bikeFront;
  }
  
  .loader_handlebars {
    animation-name: bikeHandlebars;
  }
  
  .loader_pedals {
    animation-name: bikePedals;
  }
  
  .loader_pedals-spin {
    animation-name: bikePedalsSpin;
  }
  
  .loader_seat {
    animation-name: bikeSeat;
  }
  
  .loader_spokes,
    .loader_tire {
    stroke: currentColor;
  }
  
  .loader_spokes {
    animation-name: bikeSpokes;
  }
  
  .loader_spokes-spin {
    animation-name: bikeSpokesSpin;
  }
  
  .loader_tire {
    animation-name: bikeTire;
  }
  
    /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: hsl(var(--hue), 90%, 10%);
      --fg: hsl(var(--hue), 90%, 90%);
    }
  }
  
    /* Animations */
  @keyframes bikeBody {
    from {
      stroke-dashoffset: 79;
    }
  
    33%,
      67% {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -79;
    }
  }
  
  @keyframes bikeFront {
    from {
      stroke-dashoffset: 19;
    }
  
    33%,
      67% {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -19;
    }
  }
  
  @keyframes bikeHandlebars {
    from {
      stroke-dashoffset: 10;
    }
  
    33%,
      67% {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -10;
    }
  }
  
  @keyframes bikePedals {
    from {
      animation-timing-function: ease-in;
      stroke-dashoffset: -25.133;
    }
  
    33%,
      67% {
      animation-timing-function: ease-out;
      stroke-dashoffset: -21.991;
    }
  
    to {
      stroke-dashoffset: -25.133;
    }
  }
  
  @keyframes bikePedalsSpin {
    from {
      transform: rotate(0.1875turn);
    }
  
    to {
      transform: rotate(3.1875turn);
    }
  }
  
  @keyframes bikeSeat {
    from {
      stroke-dashoffset: 5;
    }
  
    33%,
      67% {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: -5;
    }
  }
  
  @keyframes bikeSpokes {
    from {
      animation-timing-function: ease-in;
      stroke-dashoffset: -31.416;
    }
  
    33%,
      67% {
      animation-timing-function: ease-out;
      stroke-dashoffset: -23.562;
    }
  
    to {
      stroke-dashoffset: -31.416;
    }
  }
  
  @keyframes bikeSpokesSpin {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(3turn);
    }
  }
  
  @keyframes bikeTire {
    from {
      animation-timing-function: ease-in;
      stroke-dashoffset: 56.549;
      transform: rotate(0);
    }
  
    33% {
      stroke-dashoffset: 0;
      transform: rotate(0.33turn);
    }
  
    67% {
      animation-timing-function: ease-out;
      stroke-dashoffset: 0;
      transform: rotate(0.67turn);
    }
  
    to {
      stroke-dashoffset: -56.549;
      transform: rotate(1turn);
    }
  }
  .theWords{
    font-size: 30px;
    color:  #A5D7E8; 
    padding-top: 50px;
  }