
.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    padding-top: 8%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
   
  }