/* .arrow-container {
    position: absolute;
    bottom: 70px;
    right: 20px;
    z-index: 1;
  } */
  
  .arrow-circle {
    width: 35px;
    height: 35px;
    background-color:#041f48;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .arrow-icon {
    color: white;
    font-size: 16px;
  }