:root {
    --primary-color: #0B2447;
    --secondary-color: #19376D;
    --third-color: #576CBC;
    --fourth-color: #A5D7E8;
  }

/*cards styling*/
.cardBox {
    height: 180px; 
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
        rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
    transition: all .5s ease;
}
.card {
    position: absolute;
    width: 95%;
    height: 95%;
    background: #01112B;
    border-radius: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
        font-family: 'Josefin Sans',sans-serif;
}

.cardBox:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 4px 20px 0px,
        rgba(0, 0, 0, 0.9) 0px 4px 30px 0px;
    transform: scale(1.05);
}

/*all cards Container*/
.mainContainerCategory {
    background-color: var(--primary-color);
    padding: 5% 0 ;
    
    width: 100%;
 display: flex;
 justify-content: center;
}
.cardBox{
    padding-bottom: 50px;
}
.containerCategory {
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }

  @media screen and (max-width: 992px) {
    .gridContainer {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .gridContainer {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 0.75rem;
    }
  }

  
  @media screen and (max-width: 576px) {
    .gridContainer {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      gap: 0.5rem;
    }
  
    .cardBox {
      width: 100%;
    }
  }

  
/*hero*/
.hero {
    background: rgb(24,53,106);
    background: linear-gradient(90deg, rgba(24,53,106,1) 16%, rgba(43,58,116,1) 53%, rgba(81,99,166,1) 97%);
    color: #FFFFFF;
    text-align: center;
    padding: 5% 5%;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.sub-hero{
    display: flex;
    justify-content: space-around;
   
}
.herotextdiv{
    max-height: 380 px;
    width: 60%;
    
}

.herophotodiv{
    max-height: 380 px;
    width: 40%;
    
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 50px;
    margin-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
.hero-subtitle {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.hero-description {
    font-size: 24px;
    margin-bottom: 0;
}
.divArrowDownIcon{
margin-top: 1.5%;
}

@media (max-width: 768px) {

    .sub-hero {
        padding: 60px 0;
        flex-direction: column;
    }
    .hero-title {
        font-size: 36px;
        margin-bottom: 10px;
      
    }
    .hero-subtitle {
        font-size: 28px;
        margin-bottom: 20px;
        
    }
    .hero-description {
        font-size: 20px;
        
    }

    .photohome{
        padding-left: 5%;
        
    }

    .herotextdiv{
        width: 100%;
        
        
    }
    
    .herophotodiv{
        width: 100%;
        margin-top: 3%;
    }
    
    
}
@media (max-width: 576px) {
    .sub-hero {
        padding: 40px 0;
        flex-direction: column;
    }
    .hero-title {
        font-size: 30px;
        margin-bottom: 8px;
    }
    .hero-subtitle {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .hero-description {
        font-size: 18px;
        
    }
    .photohome{
        padding-left: 5%;
        margin-top: 3%;
    }
    
}
.quizzer {
    color: #041F48;
}
