
:root {
  --primary-color: #0b2447;
  --secondary-color: rgb(25, 55, 109);
  --third-color: #576CBC;
  --fourth-color: #A5D7E8;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

.con {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
    background: var(--primary-color);
    max-height: 65px;
  width: 100%;
}


.img{
    border-radius: 50%;
    width: 35px;
    height: 35px;  
}

.menu-icon {
  display: none;
}


.nav-elements ul {
    list-style: none;
    display: flex;
 justify-content:flex-end;
    width:70%;
    float: right;
 right: 0;
 padding-top: 20px;
 padding-left: 40%;
}

.nav-elements ul {
  margin-right: 5px;
}
.nav-elements ul li:last-child{
    margin-right: 18px; 
}

.nav-elements ul a {
    display: flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #ffff ;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    flex-wrap: wrap;
}

.nav-elements ul a.active {
  color:#021430;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;

}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color:#021430;
    width: 0px;
    height: 255px;
    transition: all 0.3s ease-in;
    overflow: hidden;
   
  }

  .nav-elements.active {
    width: 155px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    right: 50px;
    align-items: center;
    justify-content: center;
   
  }

  .nav-elements ul li {
   margin-right: unset;
    margin-top: 20px;
     color:#021430;
     margin-left: 15px;
  }
  .nav-elements ul a {
    color: #ffff;
     margin-right: 100px;
    margin-left: 10px;}
    .nav-elements ul li:hover{
       font-size: 1.2%;
       padding: 10px;
    }
    .nav-elements ul a:hover{
        background-color: #ffffff;
     
    }
    
}
.nav-elements ul a:hover{
    background-color: #021430;
 
}



























