.nav{
    /* background: linear-gradient(-90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%); */
    background: #021430 ;
    max-height: 65px;
}

.con{
    max-height: 65px;
}

.brand{
    max-height: 65px;
}
