.quizResultBody{
  height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background: url("https://s3.amazonaws.com/ritalbradley-dev-photos/twinkle-back.gif");
}


.quizResultBody:before {
  width: 100%;
  height: 100%;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(to left, rgba(11, 36, 71, 0.6),rgba(25, 55, 109, 0.6) );
}

.aboveRecontainer{
  width: 100%;
  padding: 5%;
}
  
  


.Recontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  margin: 0px 20%;
  background-color: rgb(214, 233, 240);
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  border: 2px solid #ccc;
}




.Recontainer:hover {
    border-color: rgb(165, 215, 232);
    background-color:rgb(165, 215, 232);
}

.h2QuizResult {
  font-size: 28px;
  margin-bottom: 3vh;
  font-family: "Arial", sans-serif;
  color: #333;
}

.h4QuizResult {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Arial", sans-serif;
}

.text-green-600 {
  color: #00cc66; /* Green color */
}

.text-red-600 {
  color: #F45050; /* Red color */
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Arial", sans-serif;
  color: #666;
}

.font-medium {
  font-weight: 600;
}

/* #playAgianButton {
  background-color: #3C486B; 
  color: #ffffff;
} */

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Arial", sans-serif;
  color:#00cc66;
}

.py-3{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Arial", sans-serif;
  color:crimson;
}

.px-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.rounded-xl {
  border-radius: 1rem;
}

.mt-2 {
  margin-top: 15px;
}

/* #playAgianButton:hover{
  background-color:#F9D949;
  color: #333;
} */


#playAgianButton {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 30px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-image: linear-gradient(163deg, rgb(165, 215, 232) 0%, rgb(87, 108, 188) 100%);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
  font-family: 'Nunito';
  margin: 0 auto;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}
#playAgianButton:hover {
  background-image: linear-gradient(163deg, rgb(25, 55, 109) 0%, #13034B 100%);
  color: var(--fourth-color)
}

/* Animation */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade 0.5s ease;
}